<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example Pdf</title>
    <style>
        h3{
            text-align: center;
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
        .reportGraph {width:900px}
        @media print {
            .new-page {
                page-break-before: always;
            }
        }
    </style>
    <!--<script src="https://cdnjs.com/libraries/Chart.js"></script>-->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script> -->
    <script src="js/chart.min.js"></script>
</head>
<body>
<h3>{{ .Title }}</h3>
<p>{{.Description}}</p>
<p>ทดสอบ</p>
<hr/>
<div><img src="qr.png" /></div>
<!-- <div><img src="img/Logo-IPST.png" /></div> -->
<table>
    <thead>
    <tr>
        <th>Company</th>
        <th>Contact</th>
        <th>Country</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{.Company}}</td>
        <td>{{.Contact}}</td>
        <td>{{.Country}}</td>
    </tr>
    </tbody>
</table>
<p class="new-page">Page 2, paragraph 1</p>
<div class="reportGraph"><canvas id="canvas"></canvas></div>


<script type="text/javascript">
    'use strict';
    (function(setLineDash) {
        CanvasRenderingContext2D.prototype.setLineDash = function() {
            if(!arguments[0].length){
                arguments[0] = [1,0];
            }
            // Now, call the original method
            return setLineDash.apply(this, arguments);
        };
    })(CanvasRenderingContext2D.prototype.setLineDash);
    Function.prototype.bind = Function.prototype.bind || function (thisp) {
        var fn = this;
        return function () {
            return fn.apply(thisp, arguments);
        };
    };
    const ctx = document.getElementById('canvas');
    const options = {
        scale: {
            
            display: true,
			 ticks: {
				suggestedMin: 20,
				suggestedMax: 100,
				stepSize: 20,
			}
        } ,
		legend: {
            labels: {
                // This more specific font property overrides the global property
                fontColor: 'black',
				boxWidth:15,
				generateLabels: (chart) => {
					const datasets = chart.data.datasets;
					const labels=datasets.map((data,i)=>{ return {label:data.label,bgcolor:data.borderColor}});
					return labels.map((data, i) => ({
					  text: `${data.label}`,
					  fillStyle: data.bgcolor,
					}))
				},
				
            },
			position: "right",
            align: "middle"
			//display: false,
			
        },
		title:{
			display:true,
			position:'top',
			text:'ร้อยละของข้อที่ตอบถูกจำแนกตามตัวชี้วัดอัจฉริยะลักษณะทางคณิตศาสตร์',
		},
		
		
		
    };
    const data= {
        labels: ['S2', 'S3', 'A1', 'A2','A3','S1'],
        datasets: [
			{
				data: [70, 50, 40, 80,77,75],
				fill:false,
				borderColor: 'blue',
				label:'ร้อยละข้อที่ตอบถูก',
				//backgroundColor:'rgba(245, 40, 145, 0.8)',
				borderWidth:1,
			},
			{
				data: [80, 80, 80, 80,80,80],
				fill:false,
				label:'ค่าเฉลี่ยของร้อยละข้อที่ตอบถูกของผู้เข้าสอบทั้งหมด',
				borderWidth:1,
				borderColor: 'orange',
				borderDash:[1],
				borderDashOffset:0.2,
				
			},
		]
    }
    var myRadarChart = new Chart(ctx, {
        type: 'radar',
        data: data,
        options: options
    });

</script>
</body>
</html>